.movie-image {
    max-width: 250px;

}

.wrapper {
    padding: 20px 100px;
}

.movies {
    margin: 20px;
}


.nav-style {
    padding: 0px 75px !important;
    background-color: #eee;
}

.card-det {
    padding: 20px !important;
}

.card-text-style {
    font-style: italic;
}