<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Panic -- Movie Review</title>
    <link rel="stylesheet" th:href="@{'/webjars/bootstrap/4.0.0-beta/css/bootstrap.css'}"/>
    <link rel="stylesheet" href="/assets/css/app.css"/>

</head>
<body>
<nav class="nav nav-style">
    <a class="navbar-brand justify-content-start page-title" href="/">Panic</a>
    <a class="nav-link" href="/movie/add">Add Movie</a>
    <a class="nav-link" href="/signup">Signup</a>
    <form action="/logout" method="post" class="nav-link logout-form">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <input type="submit" class="logout-link" value="Logout" />
    </form>
</nav>
<div class="wrapper">
    <h3 class="page-title">Add Movie</h3>
    <form class="col-md-6 form-format" action="/movie/add" method="post" th:object="${movie}">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <div class="form-group">
            <label for="title">Movie Title</label>
            <input class="form-control" type="text" th:field="*{title}" />

        </div>
        <div class="form-group">
            <label for="genre">Type of Horror (i.e. Suspense)</label>
            <input class="form-control" type="text" th:field="*{genre}" />

        </div>
        <div class="form-group">
            <label for="releasedate">Movie Release Date</label>
            <input class="form-control" type="text" th:field="*{releasedate}" />

        </div>
        <div class="form-group">
            <label for="imdblink">Link to movie on IMDB</label>
            <input class="form-control" type="text" th:field="*{imdblink}"/>

        </div>
        <div class="form-group">
            <label for="imagelink">Link to Movie Image</label>
            <input class="form-control" type="text" th:field="*{imagelink}" />

        </div>
            <input class="btn btn-outline-secondary btn-sm" type="submit" value="Add Movie" />

    </form>

</div>

</body>
</html>