<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" th:href="@{'/webjars/bootstrap/4.0.0-beta/css/bootstrap.css'}"/>
    <link rel="stylesheet" href="/assets/css/app.css"/>
</head>
<body>
<nav class="nav">
    <a class="nav-link active" href="#">Home</a>
    <a class="nav-link" href="/movie/add">Add Movie</a>
    <a class="nav-link" href="#">Link</a>

</nav>
    <div>
        <h1>Edit Movie Details</h1>
        <form action="" method="post" th:object="${movie}">
            <input type="text" th:field="*{title}" />
            <input type="text" th:field="*{genre}"/>
            <input type="text" th:field="*{releasedate}" />
            <input type="text" th:field="*{imdblink}" />
            <input type="text" th:field="*{imagelink}" />
            <input type="submit" value="Update Movie Details" />
        </form>
    </div>
</body>
</html>