<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" th:href="@{'/webjars/bootstrap/4.0.0-beta/css/bootstrap.css'}"/>
    <link rel="stylesheet" href="/assets/css/app.css"/>
</head>
<body>
<nav class="nav">
    <a class="nav-link active" href="#">Home</a>
    <a class="nav-link" href="/movie/add">Add Movie</a>
    <a class="nav-link" href="#">Link</a>

</nav>
<div class="wrapper">
    <div class="d-flex">
        <div th:each="movies: ${movies}" class="d-flex flex-column movies">
            <a th:href="@{'/movie/' + ${movies.id}}"><p th:text="${movies.title}"></p></a>
            <p th:text="${movies.genre}"></p>
            <p th:text="${movies.releasedate}"></p>
            <img class="movie-image" th:src="${movies.imagelink}"/>
            <a th:href="${movies.imdblink}" target="_blank">View movie on IMDB</a>
        </div>
    </div>

</div>


<script type="application/javascript"
        th:src="@{'/webjars/jquery/1.11.1/jquery.js'}"></script>
<script type="application/javascript"
        th:src="${'/webjars/bootstrap/4.0.0-beta/js/bootstrap.js'}"></script>
</body>
</html>