<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" th:href="@{'/webjars/bootstrap/4.0.0-alpha/css/bootstrap.css'}"/>
    <link rel="stylesheet" href="/assets/css/app.css"/>
</head>
<body>
<h1>Movie Detail</h1>

<p th:text="${movie.title}"></p>
<p th:text="${movie.genre}"></p>
<p th:text="${movie.releasedate}"></p>
<img class="movie-image" th:src="${movie.imagelink}"/>
<a th:href="${movie.imdblink}" target="_blank">View movie on IMDB</a>
<a th:href="@{'/movie/' + ${movie.id} + '/edit'}">Edit Movie Details</a>
</body>
</html>