<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" th:href="@{'/webjars/bootstrap/4.0.0-beta/css/bootstrap.css'}"/>
    <link rel="stylesheet" href="/assets/css/app.css"/>
</head>
<body>
<nav class="nav justify-content-end nav-style">
    <a class="nav-link active" href="/">Home</a>
    <a class="nav-link" href="/movie/add">Add Movie</a>

</nav>

<div class="text-center h3">
    <span>Reviews for </span>
    <span th:text="${movie.title}"></span>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4" th:each="review : ${reviews}">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <span th:text="${review.rating}"></span><span>/5</span>
                    </div>
                    <span>"</span>
                    <span class="card-text card-text-style" th:text="${review.reviewtyped}"></span>
                    <span>"</span>
                    <br/>
                    <span><strong>Reviewed By</strong></span>
                    <br/>
                    <span>Name: </span>
                    <span th:text="${review.reviewername}"></span>
                    <br/>
                    <span>Age: </span>
                    <span th:text="${review.reviewerAge}"></span>
                    <br/>
                    <span>Occupation: </span>
                    <span th:text="${review.reviewerOccupation}"></span>
                    <br/>
                    <span>Gender: </span>
                    <span th:text="${review.reviewerGender}"></span>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>