<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Panic -- Movie Review</title>
    <link rel="stylesheet" th:href="@{'/webjars/bootstrap/4.0.0-beta/css/bootstrap.css'}"/>
    <link rel="stylesheet" href="/assets/css/app.css"/>
</head>
<body>
<nav class="nav nav-style">
    <a class="navbar-brand justify-content-start page-title" href="/">Panic</a>
    <a class="nav-link" href="/movie/add">Add Movie</a>
    <a class="nav-link" href="/signup">Signup</a>
    <form action="/logout" method="post" class="nav-link logout-form">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <input type="submit" class="logout-link" value="Logout" />
    </form>
</nav>

<div class="wrapper">

    <div class="text-center page-title">
        <span>Reviews for </span>
        <span th:text="${movie.title}"></span>
    </div>
    <div class="row">
        <div class="col-md-4" th:each="review : ${reviews}">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <span th:text="${review.rating}"></span><span>/5</span>
                    </div>
                    <span>"</span>
                    <span class="card-text card-text-style" th:text="${review.reviewtyped}"></span>
                    <span>"</span>
                    <br/>
                    <span><strong>-- </strong></span>
                    <span th:text="${review.user.firstname}"></span>
                    <br/>
                    <span class="location" th:text="${review.user.location}"></span>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>